/* This is where styles are defined for your page. */
/* One style is provided as example. */

ul.poem {
    list-style-type: none;
    font-weight: medium;
    width: 400px;
    border: 2px solid #0088dd;
    padding: 20px;
    border-radius: 10px;
    float: center;
    display: inline-block;
}

ul.poem::first-letter  {
    color: blue;
    font-size: 150%;
}

ul  {
    list-style-position: inside;
}

body  {
    padding: 50px;
}

h1 {
    font-family: Georgia, Times, serif;
    font-size: 200%;
    color: #0088dd;
    margin-left: 150px;

}

h2 {
    font-family: Georgia, Times, serif;
    font-size: 120%;
    margin-left: 150px;
    background-color: rgba(66,134,244,0.25);
}

p, ul {
    font-family: Arial, Verdana, sans-serif;
    line-height: 1.4em;
    color: #665544;
    margin-left: 150px;
}

aside.more-info img {
    width: 220px;
    height: 301px;
}

aside.more-info p {
    content:"\a";
    white-space: pre;
}

aside  {
    float: right;
    margin-right: 150px;
}

ul.social-links li  {
    display: inline;
}
